<% provide(:title, "Test page") %>
<div class="hero-unit center">
	<div class="row-fluid">
		<div class="span4">
			<img src="<%= @movie['Poster'] %>">
		</div>
		<div class="span4">
			<h1><%= @movie["Title"] %></h1>
			<p><%= @movie["Plot"] %></p>
		</div>
		<div class="span4">
			<% @movie.each_key do |key| %>
				<% if key != "Poster" && key != "Response" && key != "imdbID" && key != "Plot"%>
					<h3><%= key %></h3>
					<small><%=  @movie[key] %></small>
				<% end %>
			<% end %>
		</div>
	</div>
</div>