<% provide(:title, @movie.title) %>
<div class="hero-unit">
	<div class="row-fluid">
		<div class="span4">	
			<%= image_tag(@movie.poster, class: "img-polaroid") %>
		</div>
		<div class ="span5">
			<h1 class= "logo"> <%= @movie.title %></h2>
			<p><%= @movie.plot %></p>
		</div>
		<div class="span3">		
			<h3>Movie Info</h3>
			<dl>
				<dt>Title</dt>
				<dd><%= @movie.title %></dd>

				<dt>Release date</dt>
				<dd><%= @movie.released %></dd>

				<dt>Runtime</dt>
				<dd><%= @movie.runtime %></dd>

				<dt>Director</dt>
				<dd><%= @movie.director%></dd>

				<dt>Writer</dt>
				<dd><%= @movie.writer %></dd>
		
				<dt>Actors</dt>
				<dd><%= @movie.actors %></dd>

				<dt>Genres</dt>
				<dd><%= @movie.genre %></dd>

				<dt>IMDB rating</dt>
				<dd><%= @movie.imdbrating %></dd>
			</dl>
		</div>
	</div>
</div>